<% provide(:title, "Home")%>
<!-- Stream "section" div -->
<div id="intro" class="modal">
    <div class="modal-content">
        <h4>A Word From Someone</h4>
        <p>Welcome to IASAS Track and Field at TAS</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="stream card">
                <div class="video-container">
                    <iframe width="853" height="480" src="http://www.ustream.tv/embed/22260458?html5ui" style="border: 0 none transparent;" webkitallowfullscrean frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    Put countdown here
                </div>
            </div>
        </div>
    </div>
</div>