<% provide(:title, "Home")%>
<!-- Stream "section" div -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-image">
                    <img src="http://placehold.it/853x480">
                </div>
                <div class="card-content">
                    <span class="card-title">Main Stream</span>
                </div>
                <div class="card-action">
                    <%= link_to "Streams", streams_path %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card hoverable">
                <div class="view overlay hm-white-slight z-depth-1">
                    <img src="http://placehold.it/480x480">
                </div>
                <div class="card-content">
                    <span class="card-title">News 1</span>
                    <p>Title</p>
                </div>
                <div class="card-action">
                    <a> Read More </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hoverable">
                <div class="view overlay hm-white-slight z-depth-1">
                    <img src="http://placehold.it/480x480">
                </div>
                <div class="card-content">
                    <span class="card-title">News 2</span>
                    <p>Title</p>
                </div>
                <div class="card-action">
                    <a> Read More </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hoverable">
                <div class="view overlay hm-white-slight z-depth-1">
                    <img src="http://placehold.it/480x480">
                </div>
                <div class="card-content">
                    <span class="card-title">News 3</span>
                    <p>Title</p>
                </div>
                <div class="card-action">
                    <a> Read More </a>
                </div>
            </div>
        </div>
    </div>
</div>