<% provide(:title, "Home")%>
    <!-- Stream "section" div -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="video-container">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div> -->
                    <div class="card-image">
                        <img src="http://placehold.it/853x480">
                    </div>
                    <div class="card-content">
                        <p class="flow-text"> This is a placeholder </p>
                    </div>
                    <div class="card-action">
                        <%= link_to "This is a link", "#"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Stream "section" div -->
    <!-- News/Results/Misc "section" div -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="http://placehold.it/480x480">
                        <!-- TODO image selection -->
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="card-action">
                        <%= link_to "This is a link", "#"%>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="http://placehold.it/480x480">
                        <!-- TODO image selection -->
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="card-action">
                        <%= link_to "This is a link", "#"%>
                    </div>
                </div>
            </div>
           <div class="col-md-4">
                <div class="card">
                    <div class="card-image">
                        <img src="http://placehold.it/480x480">
                        <!-- TODO image selection -->
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="card-action">
                        <%= link_to "This is a link", "#"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of News/Results/Misc "section" div -->
    <!-- Footer "section" div -->
    <!-- End of Footer "section" div -->