<% provide(:title, "Home")%>
<!-- Stream "section" div -->
<div id="intro" class="modal">
    <div class="modal-content">
        <h4>A Word from TAS</h4>
        <p>Welcome to IASAS Track and Field at TAS!</p>
        <p>In a unified effort to promote respect for student athletes, coaches and officials at all IASAS Tournaments, please pledge your commitment to build positive spirit in the stands, and on the track and field for all events this week by doing the following:</p>
        <p>-Cheer for your team, not against the opponents, refraining from negative or abusive language, gestures or behavior.</p>
<p>-Play fair and represent your schools with integrity.</p>
<p>-Offer praise and encouragement for all athletes, recognizing that striving to win, rather than winning itself, is what is important in life.</p>
<p>-Value the opportunity to compete and thank those who support us.</p>
<p>-When the competition is over, win or lose, shake hands to show our opponents the respect they deserve.</p>
<p>We welcome everyone and encourage all to be positive in their support. Good luck to all teams!</p>


    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col s12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Boys Results:</span>
                    <h3 class="center-align">1st. SAS - 162 Points</h4>
                    <h4 class="center-align">2nd. TAS - 146 Points</h5>
                    <h5 class="center-align">3rd. JIS - 173 Points</h6>
                    <p class="center-align">4th. ISB - 117 Points</p>
                    <p class="center-align">5th. ISKL - 74 Points</p>
                    <p class="center-align">6th. ISM - 52 Points</p>
                </div>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Girls Results:</span>
                    <h3 class="center-align">1st. SAS - 139 Points</h4>
                    <h4 class="center-align">2nd. ISB - 134 Points</h5>
                    <h5 class="center-align">3rd. JIS - 124.5 Points</h6>
                    <p class="center-align">4th. ISM - 121.5 Points</p>
                    <p class="center-align">5th. TAS - 99 Points</p>
                    <p class="center-align">6th. ISKL - 68 Points</p>
                </div>
            </div>
        </div>
</div>
    <div class="row">
        <div class="col s12">
            <div class="stream card">
                <div class="video-container">
                    <iframe width="853" height="480" src="https://player.vimeo.com/video/162186579" style="border: 0 none transparent;" webkitallowfullscrean frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
   <!--  <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    Put countdown here
                </div>
            </div>
        </div>
    </div> -->
</div>
