<% provide(:title, "Home")%>
<!-- Stream "section" div -->
<div id="intro" class="modal">
    <div class="modal-content">
        <h4>A Word From Someone</h4>
        <p>Welcome to IASAS Track and Field at TAS</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col s12">
                <div class="stream card">
                    <div class="video-container">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        This is for the stream
                    </div>
                    <div class="card-action">
                        <a href="#">Link Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://placehold.it/480x480">
                        <span class="card-title">News Title</span>
                    </div>
                    <div class="card-content">
                        Article Info
                    </div>
                    <div class="card-action">
                        <a href="#"> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://placehold.it/480x480">
                        <span class="card-title">News Title</span>
                    </div>
                    <div class="card-content">
                        Article Info
                    </div>
                    <div class="card-action">
                        <a href="#"> Read More</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://placehold.it/480x480">
                        <span class="card-title">News Title</span>
                    </div>
                    <div class="card-content">
                        Article Info
                    </div>
                    <div class="card-action">
                        <a href="#"> Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>