<% provide(:title, "Streams") %>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TAS Track and Field 2016 <%= yield(:title) %> </title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-yellow.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="main_layout mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header">
            <div class="mdl-layout-icon"></div>
            <div class="main-layout_header-row mdl-layout__header-row">
                <span class="mdl-layout_one mdl-layout__title">TAS Track and Field </span>
                <span class="mdl-layout_two mdl-layout__title"> &nbsp;2016 </span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">TAS Track & Field 2016</span>
            <nav class="main_layout-drawer mdl-navigation">
                   <a class="mdl-navigation__link" href="index.html">Home</a>
                    <a class="mdl-navigation__link" href="streams.html">Streams</a>
                    <a class="mdl-navigation__link" href="profiles.html">Team Profiles</a>
            </nav>
        </div>
        <main class="main_layout-content mdl-layout__content">
            <p>Streams.</p>
        </main>
    </div>
</body>

</html>