<% provide(:title, "Profile")%>
    <div class="row">
        <div class="col s12">
            <div class="card blue-gray darken-1">
                <div class="card-content">
                    <span class="card-title">User Profile</span>
                    <% if current_user %>
                        <p> Name:
                            <%= current_user.name %>
                        </p>
                        <p> Email:
                            <%= current_user.email %>
                        </p>
                        <p> Events:
                            <ul>
                            <% if current_user.events != nil %>
                                <% @eventarr.each do |event| %>
                                    <li><%= event %></li>
                                <% end %>
                            <% end %>
                            </ul>

                        </p>
                        <% else %>
                            <p> Please sign in </p>
                            <% end %>
                </div>
            </div>
        </div>
    </div>