<% provide(:title, "Error 404")%>
<div class="container">
    <h3>404 Error!</h3>
    <p>Sorry, the page you are looking for cannot be found!</p>
    <p>Please email evanp17112141@tas.tw about this error if you believe that there is a mistake with the website!</p>
</div>