<html>
<head>
<script language="JavaScript">
function myprint() {
window.parent.main.focus();
window.print();
}
</script>
</head>
<body bgcolor="#FFFFCC" text="#000000">
<FORM>
&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
</FORM>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Print Result" onclick="myprint()">
<p>
<pre>
 Taipei American School 
                         Mini Meet 4 - 3/21/2016                          
                          Taipei American School                          
 
Event 11  Girls 200 Meter Dash
==========================================================================
    Name                    Year School                  Finals  H# Points
==========================================================================
Finals                                                                    
  1 Weddle, Katherine            Tigers                   26.88   3  10   
  2 Tei, Shizuka                 Tigers                   28.9h   3   8   
  3 Whiteford, Shantih           Tigers                   29.2h   2   6   
  4 Lesca, Athina                Tigers                   30.0h   3   5   
  5 Lin, Jessica                 Tigers                   30.2h   1   4   
  6 Teow, Jessica                Tigers                   30.9h   1   3   
  7 Chen, Chloe                  Tigers                   31.1h   2   2   
  8 Chang, Melissa               Tigers                   31.5h   3   1   
  9 Skeels, Avery                Tigers                   32.0h   1       
 10 Chang, Sabrina               Tigers                   32.1h   2       
 11 Wang, Letisha                Tigers                   32.65   2       
 12 Urbom, Sophia                Tigers                   34.2h   2       
</pre>
</p>
</body>
</html>
