
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#stream1">Stream 1</a></li>
                    <li class="tab col s3"><a href="#stream2">Stream 2</a></li>
                    <li class="tab col s3"><a href="#stream3">Stream 3</a></li>
                    <li class="tab col s3"><a href="#stream4">Stream 4</a></li>
                </ul>
            </div>
            <div id="stream1" class="col s12">
                <div class="stream card">
                    <div class="video-container">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        This is for the stream 1
                    </div>
                    <div class="card-action">
                        <a href="#">Link Here</a>
                    </div>
                </div>
            </div>
            <div id="stream2" class="col s12">
                <div class="stream card">
                    <div class="video-container">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        This is for the stream 2
                    </div>
                    <div class="card-action">
                        <a href="#">Link Here</a>
                    </div>
                </div>
            </div>
            <div id="stream3" class="col s12">
                <div class="stream card">
                    <div class="video-container">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        This is for the stream 3
                    </div>
                    <div class="card-action">
                        <a href="#">Link Here</a>
                    </div>
                </div>
            </div>
            <div id="stream4" class="col s12">
                <div class="stream card">
                    <div class="video-container">
                        <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        This is for the stream 4
                    </div>
                    <div class="card-action">
                        <a href="#">Link Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        Put a countdown or schedule here
                    </div>
                </div>
            </div>
        </div>
    </div>
 