<div class="section">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">This is a footer</h5>
                    <p class="flow-text grey-text text-lighten-4">Organize footer with rows and columns here</p>
                </div>
                <div class="col l4 offset-12 s12">
                    <h5 class="white-text">These are links</h5>
                    <ul>
                        <li>
                            <%= link_to "Link 1", '#' %>
                        </li>
                        <li>
                            <%= link_to "Link 2", '#' %>
                        </li>
                        <li>
                            <%= link_to "Link 3", '#' %>
                        </li>
                    </ul>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2014 Copyright Text
                        <li>
                            <%= link_to "This is a link", '#' %>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>